// _navbar.scss
.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .navbar-nav .nav-link {
  padding: 10px;
  font-size: 1rem;
}
